.faulty-terminal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}

.faulty-terminal-canvas {
  width: 100%;
  height: 100%;
  display: block;
}
